.single_product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;


    .left {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
    }

    .left #product_img img {
        height: 400px;
        width: 400px;
    }

    .left .left_btn {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
        gap: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: darkgray;
        width: 100%;
        padding: 10px 10px;

        font-family: "Lora", serif;
        font-style: normal;
    }

    .right #rating .checked {
        color: orange;
    }

    .right .right_text {
        font-weight: 600;
    }

    .right #discount .right_text {
        color: red;
    }

    .right #cost .right_data {

        color: #6aa84f;
    }
}